<body>
<br><br>
<div class="welcome-container">
  <img class="welcome-image align-items-center justify-content-center" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1200px-International_Pok%C3%A9mon_logo.svg.png">
  <br><p class="welcome-paragraph">Bienvenido!</p><br>
  <p class="welcome-paragraph">En esta aplicaci칩n se podr치 buscar aleatoriamente un pokemon usando la
    <a class="welcome-href" href="https://pokeapi.co/" target="_blank">Pokemon API</a></p><br><br>
  <p class="welcome-paragraph">Use el bot칩n para dirigirse a la siguiente p치gina</p><br>
  <a type="button" class="welcome-button"<%= link_to "random", random_path, class: "nav-link"  %></a>
</div>



</body>