<div class="container">


</div>


<div class="justify-content-center text-align-center align-items-center">
  <button type="button" class="random-button">Buscar</button>
  <br>
  <a type="button" class="random-button" <%= link_to "Volver", main_path, class: "nav-link"  %></a>
</div>