
<script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />

<style>
    #map {
        position: center;
        margin: auto;
        margin-top: 70px;
        width: 600px;
        height: 580px;
        box-shadow: 5px 5px 5px #888;
    }
</style>
<body>
<div id="map"></div>
<script>

    var evotingIcon = L.icon({
        iconUrl: "https://media-exp1.licdn.com/dms/image/C4D0BAQH5NT7INB9MNA/company-logo_200_200/0/1595516569493?e=1651708800&v=beta&t=_vuDLQrv8iVpwxdIXbgR0YvJNB4IIlZluthacqyg2ag",
        iconSize:     [50, 50], // size of the icon
        iconAnchor:   [20, 30], // point of the icon which will correspond to marker's location// the same for the shadow
        popupAnchor:  [10, -76] // point from which the popup should open relative to the iconAnchor
    });




    var map = L.map('map').
    setView([-33.51514, -70.71842],
        19);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
        maxZoom: 18
    }).addTo(map);
    L.control.scale().addTo(map);
    var circle = L.circle([-33.51514, -70.71842], {
        color: 'red',
        fillColor: '#f03',
        fillOpacity: 0.2,
        radius: 45
    }).addTo(map);
    L.marker([-33.51514, -70.71842],{icon: evotingIcon},{draggable: true}).addTo(map).bindPopup("Plataforma EParticipa");
</script>

</body>


